<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.62.20:5000/Attendance</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>theattendance/Attendance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ofathy@egoth.com</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ZKAccessEntitiesforabsence3" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.Models.ZKAccessEntitiesforabsence3, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ZKAccessEntities2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.Models.ZKAccessEntities2, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DelayEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.Models.DelayEntities, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ZKAccessabsenceEntities3" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.62.97;Initial Catalog=ZKAccess;User ID=sa;Password=EG0th!@#;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ZKAccessabsenceEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.theabsenceModel1.csdl|res://*/Models.theabsenceModel1.ssdl|res://*/Models.theabsenceModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.62.97;initial catalog=ZKAccess;user id=sa;password=EG0th!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ZKAccessEntitiesfordelay" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.62.97;Initial Catalog=ZKAccess;User ID=sa;Password=EG0th!@#;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ZKAccessEntitiesfordelay_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.delaymodel.csdl|res://*/Models.delaymodel.ssdl|res://*/Models.delaymodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.62.97;initial catalog=ZKAccess;user id=sa;password=EG0th!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="delayZKAccessEntities3" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.62.97;Initial Catalog=ZKAccess;Persist Security Info=True;User ID=sa;Password=EG0th!@#;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\delayZKAccessEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.delayModel1.csdl|res://*/Models.delayModel1.ssdl|res://*/Models.delayModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.62.97;initial catalog=ZKAccess;persist security info=True;user id=sa;password=EG0th!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ZKAccessEntitiesdelay" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.62.97;Initial Catalog=ZKAccess;User ID=sa;Password=EG0th!@#;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ZKAccessEntitiesdelay_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DelayModel1.csdl|res://*/Models.DelayModel1.ssdl|res://*/Models.DelayModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.62.97;initial catalog=ZKAccess;user id=sa;password=EG0th!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ZKAccessEntities1" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.62.97;Initial Catalog=ZKAccess;User ID=sa;Password=EG0th!@#;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ZKAccessEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.attendance.csdl|res://*/Models.attendance.ssdl|res://*/Models.attendance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.62.97;initial catalog=ZKAccess;user id=sa;password=EG0th!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ZKAccessEntities3" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.62.97;Initial Catalog=ZKAccess;User ID=sa;Password=EG0th!@#;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ZKAccessEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.delayModel1.csdl|res://*/Models.delayModel1.ssdl|res://*/Models.delayModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.62.97;initial catalog=ZKAccess;user id=sa;password=EG0th!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ZKAccessEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.62.97;Initial Catalog=ZKAccess;User ID=sa;Password=EG0th!@#;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ZKAccessEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model2.csdl|res://*/Models.Model2.ssdl|res://*/Models.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.62.97;initial catalog=ZKAccess;user id=sa;password=EG0th!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AttLoginEntities" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.Models.AttLoginEntities, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="othrZKAccessEntities4" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.Models.othrZKAccessEntities4, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AttLoginEntities1" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.Models.AttLoginEntities1, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.Models.UsersContext, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AttLoginEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AttLoginEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DelayEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)delayZKAccessEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)othrZKAccessEntities4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZKAccessabsenceEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZKAccessEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZKAccessEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZKAccessEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZKAccessEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZKAccessEntitiesdelay-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZKAccessEntitiesforabsence3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZKAccessEntitiesfordelay-Web.config Connection String" />
  </ItemGroup>
</Project>